# Build directories
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
emsdk/
unused_assets_dont_commit/
# MacOS specific files
.DS_Store
cmake-build-debug/

# Compiled binary files
*.out
*.exe
*.dll
*.so
*.dylib



# Logs and temporary files
*.log
*.tmp



# Package management files
/deps/
_deps/

